<h2><mat-icon>shopping_cart</mat-icon> Il tuo carrello</h2>

<div *ngIf="caricamento">Caricamento in corso...</div>

<div *ngIf="!caricamento && libri.length === 0" class="empty">
  <p>Il carrello è vuoto 🛒</p>
</div>

<div class="carrello-container" *ngIf="libri.length > 0">
  <mat-card *ngFor="let libro of libri" class="carrello-card">
    <mat-card-header>
      <mat-card-title>{{ libro.titolo }}</mat-card-title>
      <mat-card-subtitle>{{ libro.autore }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="libro.immagineCopertina || 'assets/libri/default.jpg'" alt="{{ libro.titolo }}" />

  

    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="rimuovi(libro)">
        <mat-icon>remove_shopping_cart</mat-icon> Rimuovi
      </button>
    </mat-card-actions>
  </mat-card>
</div>
