

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/BookLet
    username: postgres
    password: Keco202+-
    driver-class-name: org.postgresql.Driver


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

        spring:
          jpa:
            hibernate:
              ddl-auto: update
              logging:
                level:
                  org.springframework.transaction: TRACE
                  org.hibernate.SQL: DEBUG
                  org.hibernate.type.descriptor.sql.BasicBinder: TRACE
  port: 8080
  server:
    security:
      oauth2:
        resource server:
          jwt:

            issuer-uri: http://localhost:8085/realms/Booklet

