<mat-toolbar color="primary" class="navbar">
  <span class="brand">📚 BookLet</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/home">Home</a>
  <a mat-button routerLink="/catalogo">Catalogo Generale</a>
  <button mat-button type="button" (click)="navigateProtected(['/carrello'])">Carrello</button>
  <button mat-button type="button" (click)="navigateProtected(['/redazione'])">Redazione</button>
  <a mat-button *ngIf="isAuth() && myCatalogoLink() as link" [routerLink]="link">Il mio catalogo</a>
  <span class="spacer"></span>
  <button mat-button *ngIf="!isAuth()" (click)="login()">Login</button>
  <button mat-button *ngIf="isAuth()" (click)="logout()">Logout</button>
</mat-toolbar>
